$header-background: #00102e;
$dropdown-background: #06255e;
$link-color: #fff;
$text-color: #000;
$highlight-color: #f1c506;

$main-background-color: #fff;
$desktop-min-width: 320px;
$tablet-min-width: 744px;
$desktop-min-width: 1024px;

