$header-background: #00102e;
$header-dropdown-background: #101f3b;
$link-color: #fff;
$text-color: #000;
$highlight-color: #f1c506;
$main-bg-color: #fff;


$mobile-inline-padding: 20px;
$tablet-inline-padding: 24px;
$desktop-inline-padding: 120px;;

$mobile-min-width: 320px;
$tablet-min-width: 744px;
$desktop-min-width: 1024px;

$mobile-header-height: 70px;
