@use '../utils' as u;
@use '../fonts' as f;

.page-home {

  dl {
    position: relative;
    width: 100%;

    margin: 0;
    padding-block: 3rem;

    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, auto);
    place-items: center;

    box-sizing: border-box;

    @include u.content-padding-inline();

    &::after{
      z-index: -5;
      content: "";
      position: absolute;
      top:0;
      bottom: 0;
      width: 100vw;
      left: 50%;
      transform: translateX(-50%);
      background-color: u.$highlight-color;
    }

    @include u.on-tablet {
      padding-block: 5rem;

      grid-auto-flow: column;
      grid-auto-columns: 1fr;
      grid-template-rows: auto auto;
    }

    @include u.on-desktop{
      padding-inline: 0;
    }
  }

  dt {
    margin-top: 3rem;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    font-size: 1.4rem;
    font-weight: 600;

    @include u.on-tablet {
      margin-top: 0;
      padding-bottom: 15px;
    }

    &::before {
      content: '\f15b';
      padding-bottom: 10px;

      display: inline;
      font-family: "Font Awesome 5 Free";
      font-size: 30px;
      font-weight: 900;

      @include u.on-tablet {
        padding-bottom: 15px;
      }
    }

    &:nth-of-type(1):before {
      content: "\f207";
    }

    &:nth-of-type(2):before {
      content: "\f073";
    }

    &:nth-of-type(3):before {
      content: "\f0c0";
    }

    &:nth-of-type(4):before {
      content: "\f4d7";
    }


  }

  dd {
    height: 4rem;
    place-self: center;

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.4rem;
    line-height: 1;
    font-weight: 600;

    @include u.on-desktop {
      font-size: 4.4rem;
    }

  }
}

.home-title {
  position: relative;
  height: calc(100vh - 80px); /* Высота на весь экран */
  width: 100%;
  overflow: hidden; /* Важно: чтобы фон не вылезал */
  display: flex;
  align-items: center;
  justify-content: center;

  &__parallax-bg {
    z-index: -10;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 120%; /* Делаем запас высоты для движения вниз */
    background: var(--bg-mobile) center/cover no-repeat;
    will-change: transform;

    @include u.on-tablet {
      background: var(--bg-desktop) center/cover no-repeat;
    }
  }

  &__content {
    position: relative;
    z-index: 2;
    color: white;
    will-change: transform, opacity;
  }

  &__title {
    margin: 0;
    padding-inline: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    text-align: center;

    @include f.title-font;

    &::after {
      content: '';
      padding-top: 1rem;
      display: block;
      width: 70%;
      border-bottom: 1px solid u.$highlight-color;

    }
  }

  &__subtitle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: white;

    text-transform: lowercase;

    @include f.subtitle-font;
  }
}

.home-news {
  position: relative;
  width: 100%;

  padding-block: 100px;

  box-sizing: border-box;

  @include u.content-padding-inline();

  @include u.on-desktop {
    padding-inline: 0;
  }

  &::after{
    z-index: -5;
    content: "";
    position: absolute;
    top:0;
    bottom: 0;
    width: 100vw;
    left: 50%;
    transform: translateX(-50%);
    background-color: u.$main-bg-color;
  }


  h2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2.4rem;
    text-transform: uppercase;

    @include u.on-desktop {
      font-size: 3.2rem;
    }

    &::after {
      content: '';
      padding-top: 1rem;
      width: 30%;
      border-bottom: 1px solid u.$highlight-color;
    }
  }

  &__content {
    padding-top: 50px;
    display: grid;
    row-gap: 45px;
    column-gap: 45px;

    @include u.on-tablet {
      grid-template-columns: repeat(2, 1fr);
    }

    @include u.on-desktop {
      grid-template-columns: repeat(3, 1fr);
    }

    & p {
      padding-inline: 15px;
    }

    & a {
      @include f.link-font;
    }
  }
}

.home-media {
  padding-block: 50px;
  display: flex;
  gap: 1rem;
  justify-content: center;
  background-color: u.$highlight-color;

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8rem;
    height: 8rem;
    border: 1px solid #252525;
    border-radius: 50%;
    text-decoration: none;
  }

  &__icon {

    &::before {
      content: "\f39e";
      font-family: "Font Awesome 5 Brands";
      font-style: normal;
      font-weight: 900;
      font-size: 2.5rem;
      color: #252525;
    }

    &-facebook::before {
      content: "\f39e";
    }

    &-youtube::before {
      content: "\f167";
    }
  }
}
