@use '../utils' as u;
@use '../fonts' as f;

/* Ключевые кадры для движения */
@keyframes bg-parallax {
  to {
    transform: translateY(25%);
  }
  /* Фон движется вниз */
}

@keyframes title-parallax {
  to {
    transform: translateY(-150px); /* Текст уходит вверх */
    opacity: 0; /* Плавно исчезает */
  }
}

.page-home {

  dl{
    margin: 0;
    padding: 3rem 2rem;

    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, auto);
    place-items: center;

    background-color: #f1c506;

    @include u.on-tablet{
      padding: 5rem 2rem;

      grid-auto-flow: column;
      grid-auto-columns: 1fr;
      grid-template-rows: auto auto;
    }
  }

  dt {
    margin-top: 3rem;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    font-size: 1.4rem;
    font-weight: 600;

    @include u.on-tablet{
      margin-top: 0;
      padding-bottom: 15px;
    }

    &::before {
      content:'\f15b';
      padding-bottom: 10px;

      display: inline;
      font-family: "Font Awesome 5 Free";
      font-size: 30px;
      font-weight: 900;

      @include u.on-tablet{
        padding-bottom: 15px;
      }
    }

    &:nth-of-type(1):before {
      content:"\f207";
    }

    &:nth-of-type(2):before {
      content:"\f073";
    }

    &:nth-of-type(3):before {
      content:"\f0c0";
    }

    &:nth-of-type(4):before {
      content:"\f4d7";
    }


  }

  dd {
    height: 4rem;
    place-self: center;

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.4rem;
    line-height: 1;
    font-weight: 600;

  }
}

.home-title {
  position: relative;
  height: calc(100vh - 80px); /* Высота на весь экран */
  width: 100%;
  overflow: hidden; /* Прячем вылетающий фон */
  display: flex;
  align-items: center;
  justify-content: center;
  /* Создаем таймлайн для скролла этого блока */
  view-timeline-name: --section-scroll;

  &__parallax-bg {
    position: absolute;
    top: -15%; /* Выносим за края, чтобы не было пустых зон при движении */
    left: 0;
    width: 100%;
    height: 130%; /* Делаем выше контейнера для запаса хода */
    //background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    //url('/user/pages/01.home/home-title.webp');
    background-image:  url('/user/pages/01.home/home-title.webp');
    background-size: cover;
    background-position: center;
    z-index: 1;

    /* Анимация: фон плавно опускается вниз при скролле */
    animation: bg-parallax linear forwards;
    animation-timeline: --section-scroll;
    animation-range: exit 0% exit 100%; /* Начинает двигаться при уходе секции */
  }

  &__content {
    position: relative;
    z-index: 2; /* Поверх фона */

    display: flex;
    flex-direction: column;
    justify-content: center;

    /* Анимация: текст улетает вверх быстрее фона */
    animation: title-parallax linear forwards;
    animation-timeline: --section-scroll;
    animation-range: exit 0% exit 100%;
  }

  &__title {
    margin: 0;
    padding-inline: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    text-align: center;

    @include f.title-font;

    &::after{
      content: '';
      padding-top: 1rem;
      display: block;
      width: 70%;
      border-bottom: 1px solid #F1C506;

    }
  }

  &__subtitle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: white;

    text-transform: lowercase;

    @include f.subtitle-font;
  }
}
