@use "../utils/mixins" as *;

.header{
  //background-color: $header-background;
  //background: linear-gradient(90deg, #004080 0%, #0080c0 100%);
  background: linear-gradient(to bottom,  #00102e 0%,#00102e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  //box-shadow: 0 2px 6px rgba(0,0,0,0.4);

  &__content{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }


}

.menu-toggle{
  display: block;

  @include on-tablet {
    display: none;
  }

  &__image rect{
    fill: $main-background-color;
  }
}

.main-nav {
  display: none;

  @include on-tablet {
    display: block;
  }
}

