@use '../utils' as u;
@use '../fonts' as f;

.page {
  font-family: Roboto, sans-serif;
  background-color: u.$main-bg-color;
  min-width: u.$mobile-min-width;

  &__body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    @include f.body-text;

    .article &-main{
      margin-block: 2rem;
    }

    &-main{
      flex-grow: 1;

      @include u.content-padding-inline;

      & article{
        padding-block: 2rem;
      }

      & h1{
        margin-block: 50px 20px;

        text-align: center;
        @include f.h1;
      }

      & h2{
        margin-block: 40px 16px;

        @include f.h2;
      }

      & p{
        text-align: justify;
      }

      & ul{
        margin-block: 1.6rem 2.4rem;
        padding-left: 4rem;
        list-style-type: disc;
      }

    }

    &:has(.menu:target) {
      overflow: hidden;
    }
  }
}
