@use 'utils' as u;

@mixin menu-font{
  font-size: 1.4rem;
  font-weight: 400;
}

@mixin title-font{
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 3.5rem;

  @include u.on-tablet(){
    font-size: 5.7rem;
    line-height: 6.7rem;
  }
}

@mixin h1{
  margin-block: 50px 20px;
  font-size: 3.2rem;

  font-weight: 600;

  line-height: 120%;

  @include u.on-tablet{
    font-size: 4.2rem;
  }

  @include u.on-desktop{
    font-size: 5.2rem;
  }
}

@mixin h2{

  font-size: 2.4rem;

  font-weight: 600;

  line-height: 120%;

  @include u.on-tablet{
    font-size: 3.2rem;
  }

  @include u.on-desktop{
    font-size: 4.2rem;
  }
}

@mixin body-text{
  font-size: 1.6rem;
  line-height: 160%;
  font-weight: 300;
}
@mixin subtitle-font{
  padding-block: 2rem;
  font-size: 1.6rem;
  font-weight: 300;

  @include u.on-tablet(){
    font-size: 3rem;
  }
}

@mixin link-font{
  color: inherit;

  font-size: 1.6rem;
  font-weight: 600;
  text-decoration: none;

}
